.QWidget{
    background-color: bisque;
}

.QLabel{
    font-size: 20px;
    font-family: "Comic Sans MC";
}

.QLineEdit{
    font-size: 20px;
    font-family: "Comic Sans MC";
}

.QPushButton:hover{
    font-size: 20px;
    font-family: "Comic Sans MC";
    background-color: rgb(220, 190, 154);
    border-radius: 10px;
}

.QPushButton{
    font-size: 18px;
    font-family: "Comic Sans MC";
    background-color: rgb(164, 142, 115);
    border-radius: 10px;
}
